body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
.container {
  max-width: 860px;
  padding: 20px;
  margin: 0 auto;
}
h1 small {
  font-size: 15px;
}
hr {
  border-style: ridge;
  margin-top: 20px;
  margin-bottom: 30px;
}
#sponsor-title {
  text-align: center;
}
#sponsor-image {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
#sponsor-image p {
  max-width: 500px;
}
#sponsor-image img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#sponsor-date {
  text-align: center;
  font-size: 10px;
}
#sponsor-date p {
  margin: 0px;
}
